@import "../../styles/mixins";
@import "../../styles/variables";

.header {
  @include newComponent(85px);
  .topBar {
    @include absolute(35px, $color2);
    .topBarPages {
      @include display(auto, 25px, end);
      a,
      button {
        @include font($font1, calc($fontSize3 * 0.8));
        @media (hover: hover) {
          &:hover {
            color: $color3;
          }
        }
        &:nth-child(1) {
          border-right: 1px solid $color4;
          margin-right: 5px;
          padding-right: 5px;
        }
      }
    }
  }
  .navBar {
    @include absolute(50px);
  }
}

.mobile {
  @include absolute(60px, $padding: 0 15px);
  .navBar {
    @include display(120px, 50px);
  }
}
